#container {
    margin-left:auto;
    margin-right:auto;
    max-width:1000px;
    min-width:300px;
}
#sidebar {
    position:fixed;
    width:180px;
    padding-left:5px;
    padding-top:5px;
    float:left;
    background:#EEEEEE;
}
#note {
    margin-left:190px;
    margin-right:5px;
}
pre {
  white-space: pre-wrap;
}
#copy {
    margin-top:50px;
    height:auto;
    font-size:.75em;
}